<a href="/new_contact">Add a New Contact</a>
<h1>Hey, girl. Checkout these contacts.<h1>

<ul>
  <% @contacts.each do |key, value| %>
    <li>
      <a href="/contact/<%= @contacts[key]["first"] %>">
        <%= @contacts[key]["last"].capitalize %>, <%= @contacts[key]["first"].capitalize %>
      </a>
    </li>
  <% end %>
</ul>