<a href="/">Contacts</a>
<h1>Hey, girl. Add your contact information.<h1>

<form action="/new_contact" method="post" autofocus>
  <input type="text" name="first" value="First Name" autofocus>
  <input type="text" name="last" value="Last Name" autofocus>
  <input type="text" name="age" value="Age" autofocus>
  <input type="text" name="gender" value="f/m" autofocus>
  <input type="text" name="dtgd" value="yes/no" autofocus>
  <input type="text" name="phone" value="xxx-xxx-xxxx"autofocus>
  <button>Add to contacts!</button>
</form>