<h1>Hey, girl. Add your contact information.<h1>

<form action="/new_contact" method="post">
  <input type="text" name="first">
  <input type="text" name="last">
  <input type="text" name="age">
  <input type="text" name="gender">
  <input type="text" name="dtgd">
  <input type="text" name="phone">
  <button>Add to contacts!</button>
</form>