<h1>Hey, girl. Add your contact information.<h1>

<form action="/new_contact" method="post" autofocus>
  <input type="text" name="first" autofocus>
  <input type="text" name="last" autofocus>
  <input type="text" name="age" autofocus>
  <input type="text" name="gender" autofocus>
  <input type="text" name="dtgd" autofocus>
  <input type="text" name="phone" autofocus>
  <button>Add to contacts!</button>
</form>